.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  width: 24em;
  -ms-interpolation-mode: bicubic;
}

.MuiInputBase-input-24 {
  text-align: center;
}

.audioPlayer,
.audioPlayer:hover,
.audioPlayer:focus,
.audioPlayer:active {
  width: 100%;
  outline: none;
  border-radius: 0px;
  background-color: #f1f3f4;
  border: 1px solid #ccc;
}

.favorite{
  cursor: pointer;
  margin: 0.5rem auto;
}
.favorite:hover {
  fill: rgb(250, 218, 148);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}

.options-nav {
  display: flex;
}

/* Favorites list section */
.favorites-list-section {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorite-item {
  background-color: rgb(242, 242, 242);
  border-radius: 2px;
  margin: 1rem;
  padding:1rem;
  display: flex;
  justify-content: space-between;
}

.favorite-item .action-container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  /* height: 200px; */
}

.favorite-item .action-container > * {
  margin: 5px;
}

.favorite-item .img-container {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  height: 150px;
}

.favorite-item .img-container > img {
  max-height: 100%;
  max-width: 100%;
  object-position: center;
  object-fit: cover;
}

.favorite-item .action-container .informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.favorite-item  .informations > .title {
  font-weight: bold;
  font-size: 21px;
}

.favorite-item  .informations > .description {
  text-overflow: ellipsis;
  overflow: hidden;
  /* CSS properties for ellipsis overflow after 5 lines of text */
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  max-height: 5 * 1.6rem;
}

@media screen and (max-width: 600px) {
  .favorite-item {
    flex-direction: column;
  }

  .favorite-item .action-container {
    flex-direction: column;
  }
}